<h1>Configuration</h1>
<button ng-click="grantPermission()" ng-disabled="notifyAllowed">{{notifyAllowed ? "All set..." : "Grant notify permission!"}}</button>

<p>Last Trade: {{model.lastTrade.total}} BTC 
	<br>@ {{model.lastTrade.price}} BTC on {{model.lastTrade.datetime}} </p>
<p>Price Delta: {{(model.priceDelta*100).toFixed(2)}}% in 5min</p>
<p style="color: red" ng-if="model.deltaT < model.timelength">Gathering data... {{model.timelength - model.deltaT}}s left<p>
<table ng-if="model" style="float:left" class="trades">
	<thead>
		<th>Range</th>
		<th>Buys</th>
		<th>Sells</th>
	</thead>
	<tbody>
		<tr>
			<td>1min</td>
			<td>{{model.buy1m.volume.toFixed(8)}} BTC | {{(model.buy1m.delta*100).toFixed(2)}}%</td>
			<td>{{model.sell1m.volume.toFixed(8)}} BTC | {{(model.sell1m.delta*100).toFixed(2)}}%</td>
		</tr>
		<tr>
			<td>5min</td>
			<td>{{model.buy5m.volume.toFixed(8)}} BTC | {{(model.buy5m.delta*100).toFixed(2)}}%</td>
			<td>{{model.sell5m.volume.toFixed(8)}} BTC | {{(model.sell5m.delta*100).toFixed(2)}}%</td>
		</tr>
		<tr>
			<td>10min</td>
			<td>{{model.buy10m.volume.toFixed(8)}} BTC | {{(model.buy10m.delta*100).toFixed(2)}}%</td>
			<td>{{model.sell10m.volume.toFixed(8)}} BTC | {{(model.sell10m.delta*100).toFixed(2)}}%</td>
		</tr>
	</tbody>
</table>
<div ng-if="orderState" style="float:left;" class="orders">
	<p style="clear:both">
		<button ng-click="tab='last1'" ng-disabled="tab == 'last1'">1min</button>
		<button ng-click="tab='last5'" ng-disabled="tab == 'last5'">5min</button>
		<button ng-click="tab='last10'" ng-disabled="tab == 'last10'">10min</button>
	</p>
	<div style="float:left;">
		SELL
		<table>
			<thead>
				<th>Price</th>
				<th>Amount</th>
				<th>Delta</th>
				<th>Acc</th>
			</thead>
			<tbody>
				<tr ng-repeat="item in orderState.orderbook[tab] | orderStuff: 'asc': orderState.curSell track by item.price">
					<td>{{item.price}}</td>
					<td>{{item.value.toFixed(4)}}</td>
					<td>{{item.delta.toFixed(3)}}</td>
					<td>{{item.cumulative.toFixed(3)}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div style="float:left;">
		BUY
		<table>
			<thead>
				<th>Price</th>
				<th>Amount</th>
				<th>Delta</th>
				<th>Acc</th>
			</thead>
			<tbody>
				<tr ng-repeat="item in orderState.orderbook[tab] | orderStuff: 'desc': orderState.curBuy track by item.price">
					<td>{{item.price}}</td>
					<td>{{item.value.toFixed(4)}}</td>
					<td>{{item.delta.toFixed(3)}}</td>
					<td>{{item.cumulative.toFixed(3)}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>