<h1>Configuration</h1>
<button ng-click="grantPermission()" ng-disabled="notifyAllowed">{{notifyAllowed ? "All set..." : "Grant notify permission!"}}</button>

<div ng-if="model">
	<p>Last Trade: {{model.lastTrade.total}} BTC @ {{model.lastTrade.price}} BTC on {{model.lastTrade.datetime}} </p>
	<p>Buys: {{model.buy.volume.toFixed(8)}} BTC | {{model.buy.delta.toFixed(2)}}% in 5min</p>
	<p>Sells: {{model.sell.volume.toFixed(8)}} BTC | {{model.sell.delta.toFixed(2)}}% in 5min</p>
	<p>Price Delta: {{model.priceDelta.toFixed(2)}}% in 5min</p>
	<p style="color: red" ng-if="model.deltaT < model.timelength">Gathering data... {{model.timelength - model.deltaT}}s left<p>
</div>